<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>PRUEBA CSS</title>
	<link rel="stylesheet" href="../static/css/prueba.css">
</head>
<body>
	<article class="Article">
		<figure class="Article-figure">
			<img class="Article-image" src="../static/images/cuerpo.jpg">
		</figure>
		<p class="Article-description">
			Esta es la forma de comenzar a realizar las pruebas necesesarias con respecto al tema de CSS y la parte de Position. Espero poder comprenderlo muy bien.
		</p>
	</article>	
	<script>
		alert("Hola Cómo estás");
	</script>
</body>
</html>